:root {
    --bg-color: #ececec;
    --inverted-bg-color: #010125;
    --primary-color: #0022d0;
    --secondary-color: #0449e0;
    --inverted-primary-color: #078607;
    --inverted-secondary-color: #04ff04;
}
